* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(#ABDEFD, #D9F4FF);
}

div {
    flex: 1;
}

header {
    font-family: 'Newsreader', serif;
    text-align: center;
    margin-top: 15px
}
/* heading */
h1 {
    
        font-size: 100px;
        line-height: 8vw;
        margin-top: 25px;
        
        margin-bottom: 5px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        background: url(https://www.sciencemag.org/sites/default/files/styles/article_main_image_-_1280w__no_aspect_/public/ca_0726NID_Stars_online.jpg?itok=3J1lCWsx);
        background-size: 40%;
        background-position: 50% 50%;
        -webkit-background-clip: text;
        color: rgba(0,0,0,0.08);
        animation: zoomout 20s ease 500ms forwards;
      }
      
      @keyframes zoomout {
        from {
          background-size: 10%;
        }
        to {
          background-size: 80%;
        }
      }

h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -10px;
}
/* search box */
.search-box,.close-icon,.search-wrapper {
	position: relative;
	padding: 10px;
}
.search-wrapper {
	width: 400px;
	margin: auto;
	margin-top: 10px;
}
.search-box {
	width: 80%;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 10px;
}
.search-box:focus {
	box-shadow: 0 0 15px 5px #62AEFC;
	border: 2px solid #ABDEFD;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #EA4336;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1040px;
    margin: auto;
    margin-top: 20px;
}

article {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    padding: 15px;
    box-shadow: 
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}
@media screen and (max-width: 800px){
    h1{
        font-size: 70px;
        color: black;
    }
}